body {
  font-family: 'Raleway', sans-serif!important;
  background: #f4f4f4!important;
}

.App {
  text-align: center;
}

.container {
  padding-top: 40px;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn {
  font-size: 13px!important;
  line-height: 17px!important;
  font-weight: 800!important;
  text-transform: uppercase!important;
  text-shadow: 0 0 2px rgba(0, 0, 0, .3);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3) !important;
}

label {
  margin-bottom: 0!important;
  font-weight: bold;
}

.main-title {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
